html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
margin-top: 40px;
}

#add-msg-form {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#msg-list {
  border: solid 1.5px black;
  position: absolute;
  left: 47%;
  top: 63%;
  transform: translate(-52%, -50%);
  width: 400px;
  height: 250px;
  overflow-y: scroll;

}
.listiner {
  list-style: none;
}
.h3{
    
  position: absolute;
  left: 10%;
  top: 0%;
  transform: translate(-50%, -50%);
  
}

button {
    background-color: rgb(3, 218, 3);
    border-radius: 6px;
    width: 100px;
    height: 35px;
    color: rgb(255, 255, 255);
    border: none;

}